<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="styles/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <title>BDSX Web Panel</title>
    <style>
      ::-webkit-scrollbar {
        display: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type=checkbox]:focus {
        box-shadow:none !important;
      }

      input[type=number] {
        -moz-appearance: textfield;
      }

      .nav-link, .toggle-sidebar {
        cursor: pointer;
        text-decoration: none !important;
      }

      .mc-0 {
        color: #000000 !important;
      }

      .mc-1 {
        color: #0000AA !important;
      }

      .mc-2 {
        color: #00AA00 !important;
      }

      .mc-3 {
        color: #00AAAA !important;
      }

      .mc-4 {
        color: #AA0000 !important;
      }

      .mc-5 {
        color: #AA00AA !important;
      }

      .mc-6 {
        color: #FFAA00 !important;
      }

      .mc-7 {
        color: #AAAAAA !important;
      }

      .mc-8 {
        color: #555555 !important;
      }

      .mc-9 {
        color: #5555FF !important;
      }

      .mc-a {
        color: #55FF55 !important;
      }

      .mc-b {
        color: #55FFFF !important;
      }

      .mc-c {
        color: #FF5555 !important;
      }

      .mc-d {
        color: #FF55FF !important;
      }

      .mc-e {
        color: #FFFF55 !important;
      }

      .mc-f {
        color: #FFFFFF !important;
        text-shadow: #000 1px 1px;
      }

      .mc-g {
        color: #DDD605 !important;
      }

      .mc-k {
        filter: blur(2px);
      }

      .mc-l {
        font-weight: 800 !important;
      }

      .mc-m {
        text-decoration: line-through;
      }

      .mc-n {
        text-decoration: underline;
      }

      .mc-o {
        font-style: italic;
      }

      .mc-r {
        color: #5a6169;
        opacity: initial;
        font-style: initial;
        font-weight: 500;
        text-decoration: none;
      }

      @media (prefers-color-scheme: dark) {
        .mc-f {
          text-shadow: none;
        }

        .mc-r {
          color: #fff;
        }

        body {
          background: #131518;
        }

        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
          color: #fff;
        }

        .border-left {
          border-left: 1px solid #343a40!important;
        }

        .border-right {
          border-right: 1px solid #343a40!important;
        }

        .border-top {
          border-top: 1px solid #343a40!important;
        }

        .border-bottom {
          border-bottom: 1px solid #343a40!important;
        }

        .card {
          background: #212529;
          border: 1px solid rgba(255,255,255,.125);
        }

        .card-header {
          background-color: rgba(255,255,255,.03);
        }

        .card-body, .modal-body {
          color: #e9ecef;
        }

        .card-footer {
          background-color: rgba(255,255,255,.03);
        }

        .modal-content {
          background: #272B30;
          border-radius: .625rem;
          border: 1px solid rgba(255,255,255,.125);
        }

        .modal-header {
          background-color: #2E3236;
          border-bottom: 1px solid #343a40;
          border-top-left-radius: calc(.3rem - 1px);
          border-top-right-radius: calc(.3rem - 1px);
        }

        .modal-footer {
          background-color: #2E3236;
          border-top: 1px solid #343a40;
          border-bottom-right-radius: calc(.3rem - 1px);
          border-bottom-left-radius: calc(.3rem - 1px);
        }

        .modal-backdrop.show {
          opacity: .88;
        }

        .list-group-item {
          background-color: rgba(25,29,33,.05);
        }

        .form-control {
          background-color: rgba(25,29,33,.05);
          border: 1px solid #6c757d;
        }

        .form-group label {
          color: #fff;
        }

        .form-control:focus {
          color: #dee2e6;
          background-color: #191d21;
          border-color: #b3d7ff;
        }

        .form-switch input[type=checkbox]:not(:checked) {
          background-color: #6c757d;
        }

        .btn {
          background-color: transparent !important;
          color: #fff !important;
          border: 1px solid #343a40 !important;
        }

        .main-sidebar {
          background-color: #191d21;
          box-shadow: none;
        }

        .main-sidebar .toggle-sidebar {
          border-left: 1px solid #343a40;
        }

        .navbar-light .navbar-brand {
          color: #868e96 !important;
          text-decoration: none !important;
          cursor: default;
        }

        .main-sidebar .nav .nav-item .nav-link {
          border-bottom: 1px solid #343a40;
          font-weight: 400;
          color: #fff;
          padding: .9375rem 1.5625rem;
        }

        .main-sidebar .nav .nav-item .nav-link.active, .main-sidebar .nav .nav-item .nav-link:hover, .main-sidebar .nav .nav-item.active, .main-sidebar .nav .nav-item:hover {
          box-shadow: inset 0.1875rem 0 0 #007bff;
          background-color: #343a40;
          color: #007bff;
        }

        .custom-control-label::before {
          background-color: rgba(25,29,33,.05);
          border: 1px solid #6c757d;
        }

        .bg-white {
          background-color: #212529 !important;
        }

        .btn.btn-white {
          border: 1px solid #343a40;
        }
      }
    </style>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@forevolve/bootstrap-dark@1.0.0/dist/css/bootstrap-dark.min.css" /> -->

    <link rel="apple-touch-icon" href="/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  </head>
  <body class="h-100" hidden>
    <div class="container-fluid h-100" id="app">
      <div class="row" v-show="authenticated">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
          <div class="main-navbar">
            <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
              <a class="navbar-brand w-100 me-0" style="line-height: 25px;">
                <div class="d-table m-auto">
                  <img id="main-logo" class="d-inline-block align-top me-1" style="max-width: 25px;" src="/favicon.ico" alt="BDSX">
                  <span class="d-none d-md-inline ms-1">BDSX Web Panel</span>
                </div>
              </a>
              <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                <i class="material-icons">&#xE5C4;</i>
              </a>
            </nav>
          </div>
          <div class="nav-wrapper">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" :class="(page === 'Overview')?'active':''" @click="page = 'Overview'">
                  <i class="material-icons">home</i>
                  <span>Overview</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " :class="(page === 'Console')?'active':''" @click="page = 'Console'">
                  <i class="material-icons">dashboard</i>
                  <span>Console</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " :class="(page === 'Plugins')?'active':''" @click="page = 'Plugins'">
                  <i class="material-icons">extension</i>
                  <span>Plugins</span>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link " :class="(page === 'Logs')?'active':''" @click="page = 'Logs'">
                  <i class="material-icons">history</i>
                  <span>Logs</span>
                </a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link " :class="(page === 'Players')?'active':''" @click="page = 'Players'">
                  <i class="material-icons">people</i>
                  <span>Players</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " :class="(page === 'Scoreboard')?'active':''" @click="page = 'Scoreboard'">
                  <i class="material-icons">leaderboard</i>
                  <span>Scoreboard</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " :class="(page === 'Configuration')?'active':''" @click="page = 'Configuration'">
                  <i class="material-icons">settings</i>
                  <span>Configuration</span>
                </a>
              </li>
            </ul>
            <div class="row">
              <div class="col-12 fixed-bottom">
                <div class="card card-small card-post mb-3">
                  <div class="card-body">
                    <h6 class="card-title text-truncate">
                      <i class="material-icons text-success" v-if="data.status">check_circle_outline</i>
                      <i class="material-icons text-danger" v-if="!data.status">remove_circle_outline</i>
                      <span>{{ data.server.info.name }}</span>
                    </h6>
                    <i class="card-text text-muted text-truncate">{{ data.server.announcement.name }} - v{{ data.server.version }}</i>
                    <p class="card-text text-muted text-truncate">{{ data.server.announcement.level }} - ({{ data.server.announcement.players.current }}/{{ data.server.announcement.players.max }})</p>
                  </div>
                  <div class="card-footer border-top d-flex">
                    <div class="my-auto ms-auto">
                      <button class="btn btn-sm btn-white mx-1" @click="restartServer">
                        <i class="material-icons">refresh</i>
                        <span>Restart</span>
                      </button>
                      <button class="btn btn-sm btn-danger mx-1" @click="stopServer">
                        <i class="material-icons">block</i>
                        <span>Stop</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </aside>
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
          <div class="main-navbar sticky-top bg-white">
            <!-- Main Navbar -->
            <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
              <ul class="border-left flex-row mb-0">
                <h6 class="m-auto">{{ page }}</h6>
              </ul>
              <a class="nav-link nav-link-icon toggle-sidebar d-sm-inline d-lg-none d-md-none text-center border-left" data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
                <i class="material-icons">&#xE5D2;</i>
              </a>
            </nav>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Overview'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row">
              <!-- Process -->
              <div class="col-lg-3 col-md-12 mb-3">
                <div class='card card-small h-100'>
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Process</h6>
                  </div>
                  <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item p-3">
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">flag</i>
                          <strong class="me-1">Status:</strong>
                          <strong class="text-success" v-if="data.status">Online</strong>
                          <strong class="text-danger" v-if="!data.status">Offline</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">vpn_key</i>
                          <strong class="me-1">Process ID:</strong>
                          <strong class="text-muted">{{ data.process.pid }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">person</i>
                          <strong class="me-1">User:</strong>
                          <strong class="text-muted">{{ data.process.user }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">folder</i>
                          <strong class="me-1">Directory:</strong>
                          <strong class="text-muted">{{ data.process.cwd }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">settings</i>
                          <strong class="me-1">System:</strong>
                          <strong class="text-muted">{{ data.machine.os }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">computer</i>
                          <strong class="me-1">Machine:</strong>
                          <strong class="text-muted">{{ data.machine.name }}</strong>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
              </div>
              <!-- Server -->
              <div class="col-lg-3 col-md-12 mb-3">
                <div class='card card-small h-100'>
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Server</h6>
                  </div>
                  <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item p-3">
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">fingerprint</i>
                          <strong class="me-1">Session ID:</strong>
                          <strong class="text-muted">{{ data.process.sessionId }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">settings_input_antenna</i>
                          <strong class="me-1">Address:</strong>
                          <strong class="text-muted">{{ data.machine.network.ip }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">settings_ethernet</i>
                          <strong class="me-1">Port:</strong>
                          <strong class="text-muted">{{ data.machine.network.port }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">timelapse</i>
                          <strong class="me-1">Uptime:</strong>
                          <strong class="text-muted">{{ new Date(data.server.uptime).toUTCString().slice(-12, -4) }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">extension</i>
                          <strong class="me-1">Plugins:</strong>
                          <strong class="text-muted">{{ data.server.plugins.length }}</strong>
                        </span>
                        <br>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
              </div>
              <!-- Game -->
              <div class="col-lg-3 col-md-12 mb-3">
                <div class='card card-small h-100'>
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Game</h6>
                  </div>
                  <div class='card-body p-0'>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item p-3">
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">tag</i>
                          <strong class="me-1">Minecraft:</strong>
                          <strong class="text-muted">{{ data.server.version }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">fact_check</i>
                          <strong class="me-1">Protocol:</strong>
                          <strong class="text-muted">{{ data.server.protocol }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">gavel</i>
                          <strong class="me-1">BDSX:</strong>
                          <strong class="text-muted">{{ data.server.bdsx }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">map</i>
                          <strong class="me-1">Level:</strong>
                          <strong class="text-muted">{{ data.server.info.level }}</strong>
                        </span>
                        <span class="d-flex mb-2 text-secondary">
                          <i class="material-icons me-1">timer</i>
                          <strong class="me-1">TPS:</strong>
                          <strong class="text-muted">{{ data.server.game.tps }}</strong>
                        </span>
                        <br>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer">
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-12 mb-3">
                <div class="stats-small stats-small--1 card card-small h-100">
                  <div class="card-body p-0 d-flex">
                    <div class="d-flex flex-column m-auto">
                      <div class="stats-small__data text-center">
                        <span>Online Players</span>
                        <h6 class="stats-small__value count my-3">{{ Object.keys(data.server.game.players).length }}/{{ data.server.info.players.max }}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Resource Usage -->
              <div class="col-lg-12 col-md-12 col-sm-12 mb-3">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Resource Usage</h6>
                  </div>
                  <div class="card-body pt-0">
                    <canvas height="130" style="max-width: 100% !important;" id="resource-usage-chart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Console'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
                <!-- Console -->
                <div class="card card-small h-100">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Console</h6>
                  </div>
                  <div class="card-body d-flex flex-column-reverse" style="height: 730px;">
                    <input type="text" class="form-control" @change="command">
                    <ul class="list-group list-group-small list-group-flush overflow-auto d-flex flex-column-reverse">
                      <li v-for="(item) in data.server.logs.console.slice().reverse()">
                        <span class="text-primary">{{ new Date(item.time).toLocaleTimeString() }}</span>
                        <span v-html="item.log"></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                    <!-- Permissions -->
                    <div class="card card-small">
                      <div class="card-header border-bottom">
                        <h6 class="m-0">Permissions</h6>
                      </div>
                      <div class="card-body p-0" style="height: 320px;">
                        <ul class="list-group list-group-small list-group-flush overflow-auto h-100">
                          <li class="list-group-item border-bottom d-flex justify-content-between px-3" v-for="(item) in data.server.game.permissions">
                            <span class="text-semibold text-secondary">{{ item.xuid }}</span>
                            <span class="text-right text-semibold text-reagent-gray text-capitalize">{{ item.permission }}</span>
                          </li>
                        </ul>
                      </div>
                      <div class="card-footer border-top">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
                    <!-- Chat -->
                    <div class="card card-small">
                      <div class="card-header border-bottom">
                        <h6 class="m-0">Chat</h6>
                      </div>
                      <div class="card-body p-0">
                        <div class="card-body d-flex flex-column-reverse" style="height: 476px;">
                          <input type="text" class="form-control" @change="chat">
                          <ul class="list-group list-group-small list-group-flush overflow-auto d-flex flex-column-reverse">
                            <li v-for="(item) in data.server.logs.chat.slice().reverse()">
                              <span class="text-primary">{{ new Date(item.time).toLocaleTimeString() }}</span>
                              &lt;{{ item.name }}&gt; <span v-html="item.message"></span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Plugins'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row mb-4">
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <!-- Installed -->
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Installed - {{ data.server.plugins.length }}</h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush overflow-auto h-100" style="max-height: 730px;">
                      <li class="list-group-item d-flex px-3" v-for="(item) in data.server.plugins">
                        <div>
                          <div class="text-muted">
                            <strong class="text-secondary" style="text-transform: capitalize;">{{ item.name.replace(/^@.+\//, "").replace(/-/g, " ") }}</strong> -
                            <strong class="text-secondary">{{ item.json.version }}</strong> -
                            <strong class="text-secondary">{{ item.json.author.name ?? item.json.author }}</strong>
                          </div>
                          <p class="m-0 my-1 mb-2 text-muted">{{ item.json.description }}</p>
                          <div>
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-white" @click="checkForPluginUpdates(item.name, item.json.version)">
                                <span class="text-success">
                                  <i class="material-icons">fact_check</i>
                                </span> Check for Updates </button>
                              <button type="button" class="btn btn-white" @click="removePlugin(item.name)">
                                <span class="text-danger">
                                  <i class="material-icons">delete_outline</i>
                                </span> Uninstall </button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <!-- Available -->
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Available - {{ data.server.onlinePlugins.length }}</h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush overflow-auto h-100" style="max-height: 730px;">
                      <li class="list-group-item d-flex px-3" v-for="(item) in data.server.onlinePlugins">
                        <div>
                          <div class="text-muted">
                            <strong class="text-secondary" style="text-transform: capitalize;">{{ item.package.name.replace(/^@.+\//, "").replace(/-/g, " ") }}</strong> -
                            <strong class="text-secondary">{{ item.package.version }}</strong> -
                            <strong class="text-secondary">{{ item.package.author?.name ?? item.package.publisher.username }}</strong>
                          </div>
                          <p class="m-0 my-1 mb-2 text-muted">{{ item.package.description }}</p>
                          <div>
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-white" @click="installPlugin(item.package.name)">
                                <span class="text-success">
                                  <i class="material-icons">file_download</i>
                                </span> Install </button>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Players'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row mb-4">
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4">
                <!-- Online -->
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">Online - {{ Object.keys(data.server.game.players).length }}</h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush overflow-auto h-100" style="max-height: 730px;">
                      <li class="list-group-item d-flex px-3" :class="{ 'bg-primary': data.selectedPlayer?.uuid === uuid }" style="cursor: pointer;" v-for="([uuid, player]) in Object.entries(data.server.game.players)" @click="selectPlayer(player)">
                        <img class="me-2" :src="player.skin.head" width="20" height="20"></img>
                        <strong :class="data.selectedPlayer?.uuid === uuid ? 'text-white' : 'text-secondary'">{{ player.name }}</strong>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 mb-4" v-show="data.selectedPlayer">
                <!-- Selected Player -->
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0">{{ data.selectedPlayer?.name }}</h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-small list-group-flush overflow-auto h-100" style="max-height: 730px;">
                      <li class="list-group-item d-flex px-3">
                        <div>
                          <div class="text-muted">
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">games</i>
                              <strong class="me-1">XUID:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.xuid }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">fingerprint</i>
                              <strong class="me-1">UUID:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.uuid }}</strong>
                            </span>
                            <br>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">settings_input_antenna</i>
                              <strong class="me-1">Address:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.ip }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">tag</i>
                              <strong class="me-1">Version:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.version }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">language</i>
                              <strong class="me-1">Language:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.lang }}</strong>
                            </span>
                            <br>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">perm_device_information</i>
                              <strong class="me-1">Device:</strong>
                              <strong class="text-primary">{{ data.selectedPlayer?.device.model || "Not specified" }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">memory</i>
                              <strong class="me-1">Platform:</strong>
                              <strong class="text-primary">{{ ["Not specified", "Android", "iOS", "macOS", "Amazon", "Gear VR", "Hololens", "Windows 10", "Win 32", "Dedicated", "tvOS", "PS 4", "Nintendo", "Xbox", "Windows Phone"][data.selectedPlayer?.device.type] }}</strong>
                            </span>
                            <br>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">location_on</i>
                              <strong class="me-1">Block</strong>
                              <strong class="text-info">{{ data.selectedPlayer?.gameInfo.pos.x.toFixed(3) }} {{ data.selectedPlayer?.gameInfo.pos.y.toFixed(3) }} {{ data.selectedPlayer?.gameInfo.pos.z.toFixed(3) }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">screen_rotation</i>
                              <strong class="me-1">Facing</strong>
                              <strong class="text-info">{{ data.selectedPlayer?.gameInfo.rot.x.toFixed(2) }} {{ data.selectedPlayer?.gameInfo.rot.y.toFixed(2) }}</strong>
                            </span>
                            <span class="d-flex mb-2 text-secondary">
                              <i class="material-icons me-1">local_hospital</i>
                              <strong class="me-1">Health</strong>
                              <strong class="text-info">{{ data.selectedPlayer?.gameInfo.health.current }}/{{ data.selectedPlayer?.gameInfo.health.max }}</strong>
                            </span>
                            <br>
                            <!-- <div id="inventory-render"></div> -->
                            <!-- <br> -->
                            <div class="btn-group btn-group-sm">
                              <button type="button" class="btn btn-white" @click="kickPlayer(data.selectedPlayer?.uuid)">
                                <span class="text-danger">
                                  <i class="material-icons">person_remove</i>
                                </span> Kick </button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Scoreboard'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row mb-4">
                <!-- Objectives -->
              <div class="col-lg-3 col-md-4 col-sm-6 mb-4" v-for="([name, objective]) in Object.entries(data.server.game.objectives)">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0 d-flex justify-content-between">
                      <span>
                        <span v-html="objective.displayName"></span>
                        <span class="text-muted">({{ name }})</span>
                      </span>
                      <i class="material-icons material-icons-outlined me-1 text-right">{{ objective.pinned }}</i>
                    </h6>
                  </div>
                  <div class="card-body p-0" style="height: 320px;">
                    <ul class="list-group list-group-small list-group-flush overflow-auto h-100">
                      <li class="list-group-item border-bottom d-flex justify-content-between px-3" v-for="([id, score]) in Object.entries(objective.scores)">
                        <span class="text-semibold text-secondary" v-html="score.name"></span>
                        <span class="text-right text-semibold mc-c">{{ score.value }}</span>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-content-container container-fluid px-4" v-show="page === 'Configuration'">
            <!-- Page Header -->
            <div class="page-header row no-gutters py-3">
            </div>
            <div class="row mb-4">
                <!-- Objectives -->
              <div class="col-lg-3 col-md-6 col-sm-12 mb-4" v-for="([category, options]) in Object.entries(data.server.game.options)">
                <div class="card card-small">
                  <div class="card-header border-bottom">
                    <h6 class="m-0 d-flex">
                      <span>{{ category }}</span>
                    </h6>
                  </div>
                  <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item p-3">
                        <div class="row px-0" v-for="([name, option]) in Object.entries(options)">
                          <div class="form-check form-switch mb-1 d-flex flex-row justify-content-between" v-if="option.type === 1">
                            <label :for="`gamerule-${name}`" style="cursor: pointer;"><strong class="text-secondary">{{ option.displayName }}</strong></label>
                            <input class="form-check-input" type="checkbox" :id="`gamerule-${name}`" :checked="option.value" @change="changeSetting(category, name, event.target.checked, 1)">
                          </div>
                          <div class="input-group mb-1 d-flex flex-row justify-content-between" v-if="option.type === 2">
                            <label class="ms-2" :for="`gamerule-${name}`" style="cursor: pointer; height: 20px;"><strong class="text-secondary">{{ option.displayName }}</strong></label>
                            <input type="number" pattern="[0-9]" class="form-control flex-grow-0" :id="`gamerule-${name}`" style="height: 20px; width: 46px; padding: 5px; text-align: right;" :value="option.value" @change="changeSetting(category, name, parseInt(event.target.value), 2)">
                          </div>
                          <div class="input-group mb-1 d-flex flex-row justify-content-between" v-if="option.type === 3">
                            <label class="ms-2" :for="`gamerule-${name}`" style="cursor: pointer; height: 20px;"><strong class="text-secondary">{{ option.displayName }}</strong></label>
                            <input type="number" pattern="[0-9.]" class="form-control flex-grow-0" :id="`gamerule-${name}`" style="height: 20px; width: 46px; padding: 5px; text-align: right;" :value="option.value" @change="changeSetting(category, name, parseFloat(event.target.value), 3)">
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="card-footer border-top">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="row align-items-center justify-content-center h-100" v-show="!authenticated">
        <div class="col-sm-10 col-md-8 col-lg-4">
          <div class="card card-small mb-4">
            <div class="card-header border-bottom text-center">
              <div class="mb-3 mx-auto">
                <img class="rounded-circle" src="/favicon.ico" alt="BDSX" width="110">
              </div>
              <h4 class="mb-0">BDSX</h4>
              <span class="text-muted d-block mb-2">Web Panel</span>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item px-4">
                <div class="row form-row">
                  <div class="form-group col-md-6 col-sm-12">
                    <input type="text" class="form-control" id="username" placeholder="Username" spellcheck="false" data-ms-editor="true">
                  </div>
                  <div class="form-group col-md-6 col-sm-12">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                </div>
                <div class="row form-row">
                  <div class="form-group w-auto">
                    <button class="btn btn-accent" @click="login()">Login</button>
                  </div>
                  <div class="form-group col d-flex flex-column justify-content-center">
                    <div class="custom-control custom-checkbox p-0">
                      <input type="checkbox" class="custom-control-input" id="remember-me">
                      <label class="custom-control-label" for="remember-me">Remember Me</label>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.min.js" integrity="sha256-NGC9JEuTWN4GhTj091wctgjzftr+8WNDmw0H8J5YPYE=" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script async defer src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
    <script async defer src="scripts/extras.1.1.0.min.js"></script>
    <script async defer src="scripts/shards-dashboards.1.1.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/InventivetalentDev/MineRender@1.4.6/dist/gui.min.js"></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
  </body>
</html>