<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
        <meta name="renderer" content="webkit"/>
        <meta name="force-rendering" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css" integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous"/>
        <title>BDSX Web Panel</title>
    </head>
    <body class="mdui-theme-primary-green mdui-drawer-body-left mdui-color-grey-300">
        <div id="app">
            <header class="mdui-appbar mdui-appbar-scroll-hide">
                <div class="mdui-toolbar mdui-color-theme" >
                    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-drawer="{target: '#drawer'}">
                        <i class="mdui-icon material-icons">menu</i>
                    </span>
                    <span class="mdui-typo-title">BDSX Web Panel</span>
                </div>
            </header>
            <div class="mdui-drawer mdui-shadow-12" id="drawer">
                <ul class="mdui-list">
                    <br>
                    <div class="mdui-container">
                        <img class="mdui-img-fluid" src="/favicon.ico">
                        <br>
                        <div class="mdui-typo-title" style="text-align: center;">BDSX Web Panel</div>
                    </div>
                    <br>
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Info'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">info</i>
                        <div class="mdui-list-item-content">Info</div>
                    </li>
                    <!-- <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Statistics'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">equalizer</i>
                        <div class="mdui-list-item-content">Statistics</div>
                    </li> -->
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Console'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">keyboard</i>
                        <div class="mdui-list-item-content">Console</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Chat'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">forum</i>
                        <div class="mdui-list-item-content">Chat</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Players'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">person</i>
                        <div class="mdui-list-item-content">Players</div>
                    </li>
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Plugins'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">extension</i>
                        <div class="mdui-list-item-content">Plugins</div>
                    </li>
                    <!-- <li class="mdui-list-item mdui-ripple" v-on:click="page = 'File Storage'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">storage</i>
                        <div class="mdui-list-item-content">File Storage</div>
                    </li> -->
                    <li class="mdui-list-item mdui-ripple" v-on:click="page = 'Settings'">
                        <i class="mdui-list-item-icon mdui-icon material-icons">settings</i>
                        <div class="mdui-list-item-content">Settings</div>
                    </li>
                    <div class="mdui-divider"></div>
                    <div class="mdui-card mdui-m-a-2">
                        <div class="mdui-card-primary">
                            <div class="mdui-card-primary-title mdui-text-truncate" style="font-size: medium;">
                                <i class="mdui-icon material-icons mdui-text-color-green" v-if="status">radio_button_checked</i>
                                <i class="mdui-icon material-icons mdui-text-color-red" v-if="!status">radio_button_checked</i>
                                {{ info.server.name }}
                            </div>
                            <div class="mdui-card-primary-subtitle mdui-text-truncate" style="font-size: small">
                                {{ info.announcement.name }} - {{ info.server.version }}
                            </div>
                            <div class="mdui-card-primary-subtitle mdui-text-truncate" style="font-size: small">
                                {{ info.announcement.level }} ({{ info.announcement.players.current }}/{{ info.announcement.players.max }})
                            </div>
                        </div>
                        <div class="mdui-card-actions">
                            <button class="mdui-btn mdui-color-theme mdui-ripple mdui-m-x-0" v-on:click="stop">Stop</button>
                            <button class="mdui-btn mdui-color-theme-200 mdui-ripple mdui-m-x-0" mdui-tooltip="{content: 'Not supported yet'}">Restart</button>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Info'">
                <div class="mdui-card mdui-col-xs-5 mdui-m-a-5">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Server Info</div>
                    </div>
                    <div class="mdui-card-content" style="max-height: 500px; overflow: scroll;">
                        <div>
                            <span>Server Name</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.name }}</span>
                        </div>
                        <div>
                            <span>Level</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.level }}</span>
                        </div>
                        <div>
                            <span>Online Players</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ Object.keys(players).length }}/{{ info.server.players.max }}</span>
                        </div>
                        <div>
                            <span>Version</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.version }}</span>
                        </div>
                        <div>
                            <span>BDSX</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.bdsx }}</span>
                        </div>
                        <div>
                            <span>Address</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.address }}</span>
                        </div>
                        <div>
                            <span>Port</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.port }}</span>
                        </div>
                        <div>
                            <span>Session ID</span>
                            <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ info.server.sessionId }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Console'">
                <div class="mdui-card mdui-m-a-5 mdui-p-x-1">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Console</div>
                    </div>
                    <div class="mdui-card-content" style="height: 40vh; overflow: scroll;">
                        <p class="mdui-m-a-0" v-for="data of logs">
                            <span class="mdui-color-grey-100 mdui-text-color-deep-orange-300">{{ data.time }}</span>
                            {{ data.message }}
                        </p>
                    </div>
                    <div class="mdui-card-actions">
                        <div class="mdui-textfield mdui-p-t-0">
                            <div class="mdui-textfield mdui-textfield-floating-label mdui-m-x-1 mdui-p-t-0">
                                <label class="mdui-textfield-label">Command</label>
                                <input class="mdui-textfield-input" type="text" v-on:change="command">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Chat'">
                <div class="mdui-card mdui-m-a-5 mdui-p-x-1">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Chat</div>
                    </div>
                    <div class="mdui-card-content" style="height: 40vh; overflow: scroll;">
                        <p class="mdui-m-a-0" v-for="data of chats">
                            <span class="mdui-color-grey-100 mdui-text-color-deep-orange-300">{{ data.time }}</span>
                            <{{ data.name }}> {{ data.message }}
                        </p>
                    </div>
                    <div class="mdui-card-actions">
                        <div class="mdui-textfield mdui-p-t-0">
                            <div class="mdui-textfield mdui-textfield-floating-label mdui-m-x-1 mdui-p-t-0">
                                <label class="mdui-textfield-label">Chat</label>
                                <input class="mdui-textfield-input" type="text" v-on:change="chat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Players'">
                <div class="mdui-card mdui-m-a-5 mdui-p-x-1">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Players ({{ Object.keys(players).length }})</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-panel mdui-panel-gapless mdui-shadow-0" mdui-panel>
                            <div class="mdui-m-x-3 mdui-p-y-0 mdui-valign" style="height: 48px;" v-if="Object.keys(players).length === 0">
                                <div class="mdui-panel-item-title" style="font-size: 15px; font-weight: 500;">No online players</div>
                            </div>
                            <div class="mdui-panel-item" v-for="player in players">
                                <div class="mdui-panel-item-header">
                                    <div class="mdui-panel-item-title">{{ player.name }}</div>
                                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                                </div>
                                <div class="mdui-panel-item-body">
                                    <div>
                                        <span>UUID</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ player.uuid }}</span>
                                    </div>
                                    <div>
                                        <span>XUID</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ player.xuid }}</span>
                                    </div>
                                    <div>
                                        <span>IP Address</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ player.address }}</span>
                                    </div>
                                    <div>
                                        <span>Device</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ player.device }}</span>
                                    </div>
                                    <!-- <div>
                                        <span>OS</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ player.os }}</span>
                                    </div> -->
                                    <div class="mdui-panel-item-actions">
                                        <button class="mdui-btn mdui-color-theme mdui-ripple">Kick</button>
                                        <button class="mdui-btn mdui-color-theme mdui-ripple">Ban</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Plugins'">
                <div class="mdui-card mdui-m-a-5 mdui-p-x-1">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Plugins ({{ info.server.plugins.length }})</div>
                    </div>
                    <div class="mdui-card-content">
                        <div class="mdui-panel mdui-panel-gapless mdui-shadow-0" mdui-panel>
                            <div class="mdui-m-x-3 mdui-p-y-0 mdui-valign" style="height: 48px;" v-if="info.server.plugins.length === 0">
                                <div class="mdui-panel-item-title" style="font-size: 15px; font-weight: 500;">No loaded plugins</div>
                            </div>
                            <div class="mdui-panel-item" v-for="plugin in info.server.plugins">
                                <div class="mdui-panel-item-header">
                                    <div class="mdui-panel-item-title">{{ plugin.name }}</div>
                                    <div class="mdui-panel-item-summary">{{ plugin.version }}</div>
                                    <div class="mdui-panel-item-summary">{{ plugin.author }}</div>
                                    <i class="mdui-panel-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
                                </div>
                                <div class="mdui-panel-item-body">
                                    <div class="mdui-typo mdui-m-y-3" v-if="plugin.description">
                                        <blockquote>
                                            <b>{{ plugin.description }}</b>
                                        </blockquote>
                                    </div>
                                    <div v-if="plugin.extra.homepage">
                                        <span>Home Page</span>
                                        <a class="mdui-color-grey-100 mdui-text-color-pink-300" target="popup" v-bind:href="plugin.extra.homepage">{{ plugin.extra.homepage }}</a>
                                    </div>
                                    <div>
                                        <span>License</span>
                                        <span class="mdui-color-grey-100 mdui-text-color-pink-300">{{ plugin.extra.license }}</span>
                                    </div>
                                    <div class="mdui-panel-item-actions">
                                        <a class="mdui-btn mdui-color-theme mdui-ripple" target="popup" v-if="plugin.extra.bugs" v-bind:href="plugin.extra.bugs">Report Bugs</a>
                                        <button class="mdui-btn mdui-color-theme mdui-ripple" v-bind:data-plugin="plugin.name" v-on:click="uninstall">Uninstall</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mdui-container-fluid" v-show="page === 'Settings'">
                <div class="mdui-card mdui-col-xs-5 mdui-m-a-5 mdui-float-left">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Server Settings</div>
                    </div>
                    <div class="mdui-card-content" style="max-height: 500px; overflow: scroll;">
                        <div class="mdui-textfield mdui-valign">
                            <span class="mdui-col-xs-2">M.O.T.D</span>
                            <input class="mdui-textfield-input" style="width: 50%;" name="settings.motd" v-bind:value="info.announcement.name" v-on:change="changesetting">
                        </div>
                    </div>
                </div><div class="mdui-card mdui-col-xs-5 mdui-m-a-5 mdui-float-right">
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Level Settings</div>
                    </div>
                    <div class="mdui-card-content" style="max-height: 500px; overflow: scroll;">
                        <div class="mdui-textfield mdui-valign">
                            <span class="mdui-col-xs-2">Allow Cheats</span>
                            <label class="mdui-switch">
                                <input type="checkbox"/>
                                <i class="mdui-switch-icon"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js" integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="app.js"></script>
    </body>
</html>